*.h linguist-language=C++
*.lua linguist-language=Lua
*.cs linguist-language=C#
Sakura/Engine/Source/ImGui/* linguist-vendored
Sakura/Engine/Library/* linguist-vendored
Sakura/Engine/Include/* linguist-vendored