# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.c text diff=cpp
*.h text diff=cpp
*.cpp text diff=cpp
*.hpp text diff=cpp
*.txt text
*.cs text diff=csharp

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.props text eol=crlf
*.csproj text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
./Sakura/Engine/Source/ImGui/** linguist-vendored
./Sakura/Engine/Library/** linguist-vendored
./Sakura/Engine/Include/** linguist-vendored

